ENVIRONMENT=local
PORT=4000
CURRENT_URL=http://localhost:4000
WEB_CLIENT_ORIGIN=http://localhost:3000

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PROFILE=

SESSION_SECRET=

SEND_MAIL=false
MAIL_USERNAME=
MAIL_PASSWORD=